* {
    box-sizing: border-box;
}

body{
    background-color: #4779dd; /* Color de fondo */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: auto; /* Espaciado interno */
    justify-content: space-between; /* Espacio entre logo y navegación */
    display: grid;
    min-height: 50dvh;
    grid-template-rows:
    auto 1fr auto;
    flex-direction: column;
    align-items: center;
     margin: auto;
    background-color: #f3f3f3;
}

/*body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}*/

.carousel {
    align-items: center;    
    position: relative;
    width: 70%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.carousel-images img {
    display: none;
    width: 100%;
}

.carousel-images img.active {
    display: block;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/***************************************************/



/***************************************************/
/* Estilo del footer */
footer {
    background-color: #4779dd;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/***************************************************/